.tomorrow-light {
    font-family: "Tomorrow", serif;
    font-weight: 300;
    font-style: normal;
  }

  .tomorrow-bold {
    font-family: "Tomorrow", serif;
    font-weight: 700;
    font-style: normal;
  }